@model BerrasBio.Models.Booking
<h1>ERROR</h1>
<p>Number of Seats (@Model.NumberOfSeats) <strong>you have</strong> chosen is more then aviable Seats left!</p>
<p><strong>Show ID:</strong> @Model.ShowId</p>

@{
}
